link(rel="import", href="/bower_components/polymer/polymer.html")
link(rel="import", href="/bower_components/iron-image/iron-image.html")

link(rel="import", href="/src/d4l-logging/d4l-logging.html")
link(rel="import", href="/src/d4l-card/d4l-card-behaviors.html")

link(rel="import", href="/src/d4l-theme.html")
link(rel="import", href="/src/d4l-icons.html")
link(rel="import", href="/src/shared-styles.html")

dom-module#d4l-twibbyn-overlay
  style(is="custom-style" include="iron-flex iron-positioning iron-flex-alignment")
  style(include="d4l-theme")
  style(include="shared-styles")
  style(include="shared-card-styles").
    :host {
      display: block;
    }
    .wrapper {
      position: relative;
      width: 100%;
      height: 100%;
    }
    .overlay {
      position: absolute;
      top: 0px;
      left: 0px;
    }
    iron-image {
      display: block;
      width: 100%;
      height: 100%;
    }

  template
    img#srcImage(hidden, src="[[__originalImage]]", on-load="__srcLoaded")
    .wrapper
      iron-image(src="[[__originalImage]]", sizing="cover", position="[[position]]")
      iron-image.overlay(src="[[__twibbynImage]]", sizing="cover", on-tap="__onTap")

  script(src="./d4l-twibbyn-overlay.js")
