link(rel="import", href="/bower_components/polymer/polymer-element.html")
link(rel="import" href="/bower_components/polymer/polymer.html")
link(rel="import", href="/bower_components/polymer/lib/elements/dom-repeat.html")
link(rel="import", href="/bower_components/polymer/lib/elements/dom-if.html")
link(rel="import", href="/bower_components/iron-flex-layout/iron-flex-layout-classes.html")
link(rel="import", href="/bower_components/iron-icon/iron-icon.html")
link(rel="import", href="/bower_components/iron-icons/iron-icons.html")
link(rel="import", href="/bower_components/iron-pages/iron-pages.html")
link(rel="import", href="/bower_components/paper-fab/paper-fab.html")
link(rel="import", href="/bower_components/buttress-js-db/buttress-db-query.html")

link(rel="import", href="/src/d4l-logging/d4l-logging.html")
link(rel="import", href="/src/d4l-helpers/d4l-helpers.html")
link(rel="import", href="/src/d4l-view/d4l-view-behaviors.html")

link(rel="import", href="/src/ltn-ajax/ltn-ajax.html")
link(rel="import", href="/src/ltn-dialog/ltn-dialog.html")
link(rel="import", href="/src/ltn-fab-menu/ltn-fab-menu.html")

link(rel="import", href="/src/d4l-theme.html")
link(rel="import", href="/src/shared-styles.html")

link(rel="import", href="/src/d4l-link/d4l-link.html")
link(rel="import", href="/src/views/dashboard/d4l-dashboard-card.html")
link(rel="import", href="/src/views/topic/d4l-topic-behaviour.html")

link(rel="import", href="/src/views/issue/d4l-issue-behaviour.html")

dom-module#d4l-issue
  template
    style(is="custom-style" include="iron-flex iron-positioning iron-flex-alignment iron-flex-factors")
    style(include="d4l-theme")
    style(include="shared-styles")
    style(include="shared-layout-styles").
      :host {
        display: block;

        padding: var(--default-page-padding);
        padding-top: var(--default-header-offset);
      }

      .content {
        padding: 0px var(--default-page-gutter) 0px var(--default-page-gutter);
      }

      .icon {
        cursor: pointer;
        margin: 1rem 1rem 1rem 0;
      }

      .card {
        position: relative;
        -webkit-background-size: cover;
        background-size: cover;
        padding: 0px 0px 0px;
        overflow: hidden;
      }

      .card-header {
        position: relative;
        padding: 16px 16px 0;
      }

      .card-header .title {
        font-size: 1.25rem;
        line-height: 2rem;
        font-weight: 200;
        letter-spacing: .0125em;
        color: var(--text-secondary-color);
        margin-left: 16px;
      }

      .card-content {
        padding: 0 16px;
      }
      .card-content p {
        font-size: .875rem;
        line-height: 1.25rem;
        font-weight: 400;
        letter-spacing: .0178571429em;
        text-decoration: inherit;
        text-transform: inherit;
        color: rgba(0, 0, 0, 0.6);
        margin: 0 0 8px;
      }

      .single-box {
        background-color:white;
      }

      paper-button {
        @apply --d4l-button-primary;
      }
      
      ul {
        margin: 0 0 16px;
        padding: 0;
      }
      li {
        list-style-type: none;
        padding: 0 0 8px;
      }

      a {
        @apply --d4l-font-common-base;
        text-decoration: none;
        word-break: break-word;
        color: rgba(211, 24, 55, 0.8);
      }

      h2 {
        @apply --d4l-font-secondary-title;
        font-weight: 500;
        margin: 10px;
      }

      d4l-link.resource {
        flex: 0 1 16.667%;
        margin-bottom: 0;
      }

    ltn-dialog#dialog
    ltn-ajax#ajax
    buttress-db-query(doc="[[db.topic]]", data-path="db.topic.data", query="[[__topicQuery]]", find-one="{{topic}}")
    buttress-db-query(doc="[[db.resource]]", data-path="db.resource.data", query="[[__resourcesQuery]]", find-all="{{resources}}")

    iron-pages(
      selected='[[__loadMode]]',
      attr-for-selected='name',
      role='loading'
    )
      div(name="loading", style="height: 90vh;").layout.horizontal.center.center-justified
        h1 Loading
        paper-spinner(active, alt="Loading data...", style="width: 64px; height: 64px;")

      div(name="loaded")
        .layout.vertical
          d4l-dashboard-card(hero, background="thunderclap")
            .view-container
              .page-header.layout.vertical(hidden$="[[__hasSelectedItem]]")
                h1 Missing Issue
                p Primum Theophrasti, Strato, physicum se voluit; Obsecro, inquit, Torquate, haec dicit Epicurus?

              .page-header.layout.vertical(hidden$="[[!__hasSelectedItem]]")
                .layout.horizontal
                  iron-icon(on-tap="__viewTopic" icon="arrow-back" class="icon")
                  p [[topic.name]]
                h1 [[__selectedItem.name]]
                p [[__selectedItem.description]]
                .layout.horizontal
                  paper-button(on-click="__updateIssue", hidden$="[[!__isTopicEditor]]") Edit
          .view-container.layout.vertical
            template(is="dom-if", if="[[__hasResources]]")
              h1 Resources
              .layout.horizontal.wrap.row-6
                template(is="dom-repeat", items="[[resources]]")
                  d4l-link.resource.item(db="{{db}}", link-id="[[item.linkId]]")

            h1 Events
            .layout.vertical
              template#events(is="dom-repeat", items="[[__selectedItem.events]]", sort="__sortEvents", observe="createdAt updatedAt")
                div
                  h2 [[__formatEventDate(item.createdAt)]]
                  .layout.horizontal.row-2.wrap
                    .item.card.layout.vertical
                      .single-box.flex
                        .card-header.layout.horizontal.center
                          iron-icon(icon="icons:speaker-notes")
                          h1.title.flex Statement
                        .card-content
                          p [[item.source.description]]
                          .layout.vertical
                            template(is="dom-repeat", items="[[item.source.links]]")
                              d4l-link(db="{{db}}", link-id="{{item}}", on-link-updated="__linkUpdated")
                  
                    .item.card.layout.vertical(hidden$="[[!__computeHasResponse(item.response)]]")
                      .single-box.flex
                        .card-header.layout.horizontal.center
                          iron-icon(icon="icons:star")
                          h1.title Response
                        .card-content
                          p [[item.response.description]]
                          .layout.vertical
                            template(is="dom-repeat", items="[[item.response.links]]")
                              d4l-link(db="{{db}}", link-id="{{item}}", on-link-updated="__linkUpdated")

        ltn-fab-menu(
          hidden$="[[!__isTopicEditor]]"
        )
          .fab-item
            .label Event
            paper-icon-button(icon="add" title="Event", on-click="addIssueEvent")
          .fab-item
            .label Resource
            paper-icon-button(icon="add" title="Resource", on-click="__addResource")

  script(src="./d4l-issue.js")
