//-
  @license
  Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
  This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
  The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
  The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
  Code distributed by Google as part of the polymer project is also
  subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=no")

    title Amplify
    meta(name="description", content="Social media tools for activists for #ge17")

    link(rel="shortcut icon", type="image/x-icon", href="/images/favicon.ico")

    //- See https://goo.gl/OOhYW5
    link(rel="manifest", href="/manifest.json")

    //- See https://goo.gl/qRE0vM
    meta(name="theme-color", content="#e4003b")

    //- Twitter card
    meta(name="twitter:card", value="summary_large_image")
    meta(name="twitter:site", content="@UKLabour")
    meta(name="twitter:title", content="Amplify – Labour’s tool for supporters")
    meta(name="twitter:description", content="Change your profile pictures and get tweeting for Labour now.")
    meta(name="twitter:creator", content="@UkLabour")
    //-Twitter summary card with large image must be at least 280x150px -->
    meta(name="twitter:image:src", content="https://amplify.labour.org.uk/images/amplify-promo.png")

    <!-- Open Graph data -->
    meta(property="fb:app_id", content="%{D4L_FACEBOOK_APP_ID}%")
    meta(property="og:title", content="Amplify – Labour’s tool for supporters")
    meta(property="og:type", content="article")
    meta(property="og:url", content="https://amplify.labour.org.uk/")
    meta(property="og:image", content="https://amplify.labour.org.uk/images/amplify-promo.png")
    meta(property="og:description", content="Change your profile pictures and get tweeting for Labour now.")

    //- Add to homescreen for Chrome on Android. Fallback for manifest.json
    meta(name="mobile-web-app-capable", content="yes")
    meta(name="application-name", content="Amplify")

    //- Add to homescreen for Safari on iOS -->
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
    meta(name="apple-mobile-web-app-title", content="Amplify")

    //- Homescreen icons -->
    link(rel="apple-touch-icon", href="/images/manifest/icon-48x48.png")
    link(rel="apple-touch-icon", sizes="72x72", href="/images/manifest/icon-72x72.png")
    link(rel="apple-touch-icon", sizes="96x96", href="/images/manifest/icon-96x96.png")
    link(rel="apple-touch-icon", sizes="144x144", href="/images/manifest/icon-144x144.png")
    link(rel="apple-touch-icon", sizes="192x192", href="/images/manifest/icon-192x192.png")

    //- Tile icon for Windows 8 (144x144 + tile color) -->
    meta(name="msapplication-TileImage", content="/images/manifest/icon-144x144.png")
    meta(name="msapplication-TileColor", content="#e4003b")
    meta(name="msapplication-tap-highlight", content="no")

    link(href="https://fonts.googleapis.com/css?family=Raleway:300,500,700", rel="stylesheet")

    script.
      // Setup Polymer options
      window.Polymer = {
        dom: 'shadow',
        lazyRegister: true
      };

      // Load webcomponentsjs polyfill if browser does not support native Web Components
      (function() {
        'use strict';

        var onload = function() {
          // For native Imports, manually fire WebComponentsReady so user code
          // can use the same code path for native and polyfill'd imports.
          if (!window.HTMLImports) {
            document.dispatchEvent(
              new CustomEvent('WebComponentsReady', {bubbles: true})
            );
          }
        };

        var webComponentsSupported = (
          'registerElement' in document
          && 'import' in document.createElement('link')
          && 'content' in document.createElement('template')
        );

        if (!webComponentsSupported) {
          var script = document.createElement('script');
          script.async = true;
          script.src = '/bower_components/webcomponentsjs/webcomponents-lite.min.js';
          script.onload = onload;
          document.head.appendChild(script);
        } else {
          onload();
        }
      })();

      // Load pre-caching Service Worker
      //if ('serviceWorker' in navigator) {
      //  window.addEventListener('load', function() {
      //    navigator.serviceWorker.register('/service-worker.js');
      //  });
      //}

    link(rel="import" href="/src/d4l-app/d4l-app.html")

    style.
      body {
        margin: 0;
        font-family: 'Raleway', 'Lato', sans-serif;
        line-height: 1.5;
        min-height: 100vh;
      }

  body
    script.
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '%{D4L_FACEBOOK_APP_ID}%',
          cookie     : true,
          xfbml      : true,
          version    : 'v2.8'
        });
        FB.AppEvents.logPageView();
      };

      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

    style(is="custom-style").
      iron-overlay-backdrop {
        --iron-overlay-backdrop-opacity: 0.0;
      }

    d4l-app

    script(src="/bower_components/sugar/dist/sugar.min.js")

