link(rel="import", href="/bower_components/polymer/polymer.html")
link(rel="import", href="/bower_components/iron-media-query/iron-media-query.html")

link(rel="import", href="/src/d4l-logging/d4l-logging.html")
link(rel="import", href="/src/d4l-helpers/d4l-helpers.html")

link(rel="import", href="/src/d4l-theme.html")
link(rel="import", href="/src/d4l-icons.html")
link(rel="import", href="/src/shared-styles.html")

dom-module#d4l-footer
  template
    style(is="custom-style", include="iron-flex iron-positioning iron-flex-alignment")
    style(is="custom-style", include="d4l-theme")
    style(is="custom-style", include="shared-styles")
    style.
      :host {

      }

      .footer-group {
        bottom: 0px;
        padding: 5px 0px;
        z-index: 500;

        font-size: 12px;
        color: #FFF;

        @apply --footer-background;
      }

      .footer-group[mobile] {
        flex-direction: column;
      }

      .footer-group > div {
        padding: 0px 20px;
      }

      .footer-group a {
        color: inherit;
        text-decoration: none;
        margin-right: 10px;
      }
      .footer-group a iron-image {
        vertical-align: middle;
      }

      .footer-group .labour-icon {
        width: 18px;
        height: 18px;
        @apply --footer-icon;
      }

    .footer-group.layout.horizontal.center(mobile$="[[isMobile]]")
      .flex.layout.horizontal.center
        a(href="http://www.labour.org.uk/" target="_BLANK")
          iron-image.labour-icon(src="/images/c4l-logo-white.svg", sizing="contain", position="left")
        a(href="https://github.com/coders-for-labour/dashboard-for-labour" target="_BLANK")
          div v%{D4L_BUILD_VERSION}% - %{D4L_BUILD_DATE}%

      .flex.layout.horizontal.end-justified
        a(href="https://www.codersforlabour.com/privacy-policy/" target="_BLANK") Privacy Policy
        div Built with ❤️ by volunteers at 
          a(href="https://www.codersforlabour.com" target="_blank") Coders For Labour

  script(src="d4l-footer.js")