link(rel="import", href="/bower_components/polymer/polymer.html")
link(rel="import", href="/bower_components/iron-flex-layout/iron-flex-layout.html")
link(rel="import", href="/bower_components/iron-flex-layout/iron-flex-layout-classes.html")
link(rel="import", href="/bower_components/iron-icon/iron-icon.html")
link(rel="import", href="/bower_components/iron-icons/iron-icons.html")
link(rel="import", href="/bower_components/paper-icon-button/paper-icon-button.html")

link(rel="import", href="/src/d4l-logging/d4l-logging.html")

dom-module#d4l-account-selector
  template
    style(is="custom-style" include="iron-flex iron-positioning iron-flex-alignment iron-flex-factors")

    .flex.layout.vertical.center
      .layout.horizontal.center
        paper-icon-button(hidden$="[[__twitterConnected]]", src="/images/social/tw-not-connected.svg", on-tap="__connectTwitter")
        paper-icon-button(hidden$="[[__facebookConnected]]", src="/images/social/fb-not-connected.svg", on-tap="__connectFacebook")
        div(hidden$="[[!__twitterConnected]]")
          paper-icon-button(hidden$="[[__twitterSelected]]", , src="/images/social/tw-not-selected.svg", on-tap="__selectTwitter")
          paper-icon-button(hidden$="[[!__twitterSelected]]", src="/images/social/tw-selected.svg")
        div(hidden$="[[!__facebookConnected]]")
          paper-icon-button(hidden$="[[__facebookSelected]]", src="/images/social/fb-not-selected.svg", on-tap="__selectFacebook")
          paper-icon-button(hidden$="[[!__facebookSelected]]", src="/images/social/fb-selected.svg")

  script.
    Polymer({
      is: 'd4l-account-selector',
      behaviors: [Polymer.D4LLogging],
      properties: {
        auth: {
          type: Object
        },
        __twitterConnected: {
          type: Boolean,
          computed: '__computeTwitterConnected(auth.user.*)'
        },
        __facebookConnected: {
          type: Boolean,
          computed: '__computeFacebookConnected(auth.user.*)'
        },
        selected: {
          type: String,
          value: '',
          notify: true
        },
        __twitterSelected: {
          type: Boolean,
          computed: '__computeTwitterSelected(selected)'
        },
        __facebookSelected: {
          type: Boolean,
          computed: '__computeFacebookSelected(selected)'
        }
      },

      checkAuthApp: function (app) {
        let user = this.get('auth.user');
        if (!user) {
          this.__warn('No user');
          return false;
        }

        return user.profiles.findIndex(a => a.app === app) !== -1;
      },

      __connectTwitter: function () {
        window.location = '/auth/twitter';
      },
      __connectFacebook: function () {
        window.location = '/auth/facebook';
      },

      __selectTwitter: function () {
        this.set('selected', 'twitter');
      },
      __selectFacebook: function () {
        this.set('selected', 'facebook');
      },

      __computeTwitterConnected: function () {
        return this.checkAuthApp('twitter');
      },

      __computeFacebookConnected: function () {
        return this.checkAuthApp('facebook');
      },

      __computeTwitterSelected: function (platform) {
        return platform === 'twitter';
      },

      __computeFacebookSelected: function (platform) {
        return platform === 'facebook';
      }
    });
