link(rel="import", href="/bower_components/polymer/polymer.html")
link(rel="import", href="/bower_components/polymer/lib/elements/dom-repeat.html")
link(rel="import", href="/bower_components/iron-flex-layout/iron-flex-layout-classes.html")
link(rel="import", href="/bower_components/buttress-js-db/buttress-db-query.html")

link(rel="import", href="/src/views/issue/d4l-issue-behaviour.html")
link(rel="import", href="/src/d4l-logging/d4l-logging.html")
link(rel="import", href="/src/d4l-helpers/d4l-helpers.html")
link(rel="import", href="/src/ltn-ajax/ltn-ajax.html")
link(rel="import", href="/src/d4l-theme.html")
link(rel="import", href="/src/shared-styles.html")


dom-module#d4l-link
  template
    style(is="custom-style" include="iron-flex iron-positioning iron-flex-alignment iron-flex-factors")
    style(include="d4l-theme")
    style(include="shared-styles")
    style(include="shared-layout-styles").
      :host {
        display: block;
        margin-bottom: 10px;
        cursor: pointer;
        background-color: var(--default-background-color);
      }

      h1 {
        color: var(--text-secondary-color);
        font-weight: 500;
        font-size: 0.8rem; 
        margin-top: 0px;
      }

      p {
        color: var(--text-tertiary-color);
        font-weight: 300;
        font-size: 0.8rem;
        margin: 0px;
      }

      p.small {
        font-size: 0.6rem;
        font-style: italic;
      }

      a {
        text-decoration: none;
      }

      img {
        margin-right: 10px;
        width: 100%;
      }

      img.article {
        width: 200px;
      }

    ltn-ajax#ajax
    buttress-db-query(doc="[[db.link]]", data-path="db.link.data", query="[[__linkQuery]]", find-one="{{link}}")

    template(is="dom-if", if="[[!linkLoaded]]")
      h1 Loading link data...
    template(is="dom-if", if="[[linkLoaded]]")
      template(is="dom-if", if="[[linkTypeArticle]]")
        a(href="[[link.uri]]", target="_blank")
          .layout.horizontal
            img.article(hidden$="[[!link.og.image.uri]]", src="[[link.og.image.uri]]")
            .layout.vertical.flex
              h1 [[link.og.title]]
              p [[link.og.description]]
              .flex
              p.small [[link.og.site]]
      template(is="dom-if", if="[[linkTypeImage]]")
        a.flex(href="[[link.uri]]", target="_blank")
          img(src="[[link.uri]]")
      template(is="dom-if", if="[[linkTypeDocument]]")
        a(href="[[link.uri]]", target="_blank")
          p.small [[link.uri]]
  

  script(src="./d4l-link.js") 
