link(rel="import", href="/bower_components/polymer/polymer.html")
link(rel="import", href="/bower_components/polymer/lib/elements/dom-repeat.html")
link(rel="import", href="/bower_components/iron-flex-layout/iron-flex-layout-classes.html")
link(rel="import", href="/bower_components/buttress-js-db/buttress-db-query.html")
link(rel="import", href="/bower_components/iron-image/iron-image.html")
link(rel="import", href="/bower_components/iron-icon/iron-icon.html")
link(rel="import", href="/bower_components/iron-icons/iron-icons.html")
link(rel="import", href="/bower_components/paper-progress/paper-progress.html")

link(rel="import", href="/src/views/issue/d4l-issue-behaviour.html")
link(rel="import", href="/src/d4l-logging/d4l-logging.html")
link(rel="import", href="/src/d4l-helpers/d4l-helpers.html")
link(rel="import", href="/src/ltn-ajax/ltn-ajax.html")
link(rel="import", href="/src/d4l-theme.html")
link(rel="import", href="/src/shared-styles.html")


dom-module#d4l-link
  template
    style(is="custom-style" include="iron-flex iron-positioning iron-flex-alignment iron-flex-factors")
    style(include="d4l-theme")
    style(include="shared-styles")
    style(include="shared-layout-styles").
      :host {
        display: block;
        margin-bottom: 10px;
        cursor: pointer;
        background-color: var(--default-background-color);
      }

      h1 {
        color: var(--text-secondary-color);
        font-weight: 500;
        font-size: 0.8rem; 
        margin-top: 0px;
      }

      p {
        color: var(--text-tertiary-color);
        font-weight: 300;
        font-size: 0.8rem;
        margin: 0px;
      }

      p.small {
        font-size: 0.6rem;
        font-style: italic;
      }

      a {
        text-decoration: none;
      }

      img {
        margin-right: 10px;
        width: 100%;
      }

      .loading paper-progress {
        width: 100%;
        --paper-progress-active-color: var(--text-tertiary-color);
      }
      .loading p {
        padding: 5px;
      }

      .document {
        padding: 5px;
        color: var(--text-tertiary-color);
      }
      .document .icon {
        width: 18px;
        height: 18px;
        margin-right: 5px;
      }
      .document .desc {
        word-break: break-word;
        font-size: 11px;
        font-style: italic;
      }
      
      .article .image{
        width: 200px;
      }
      .article .desc {
        padding: 10px;
      }
      @media (max-width: 576px) {
        .article.layout.horizontal {
          flex-direction: column;
        }
        .article .image {
          width: 100%;
          height: 125px;
        }
      }

    ltn-ajax#ajax
    buttress-db-query(doc="[[db.link]]", data-path="db.link.data", query="[[__linkQuery]]", find-one="{{link}}")

    template(is="dom-if", if="[[!linkLoaded]]")
      .loading.layout.vertical.center
        paper-progress.blue(indeterminate)
        p Generating link...
    template(is="dom-if", if="[[linkLoaded]]")
      template(is="dom-if", if="[[linkTypeArticle]]")
        a(href="[[link.uri]]", target="_blank")
          .article.layout.horizontal
            iron-image.image(hidden$="[[!link.og.image.uri]]", src="[[link.og.image.uri]]", sizing="cover")
            .desc.flex
              .layout.vertical
                h1 [[link.og.title]]
                p [[link.og.description]]
                .flex
                p.small [[link.og.site]]

      template(is="dom-if", if="[[linkTypeImage]]")
        a.flex(href="[[link.uri]]", target="_blank")
          img(src="[[link.uri]]")

      template(is="dom-if", if="[[linkTypeDocument]]")
        a(href="[[link.uri]]", target="_blank")
          .document.layout.horizontal.center
            iron-icon.icon(icon="icons:file-download")
            .desc.flex
              p.small [[link.uri]]
  

  script(src="./d4l-link.js") 
