link(rel="import", href="/bower_components/polymer/polymer.html")

link(rel="import", href="/src/d4l-logging/d4l-logging.html")

dom-module#d4l-app-db-query
  template
    style.
      :host {
        display: none;
      }

  script(src="d4l-app-db-query.js")
