link(rel="import", href="/bower_components/polymer/polymer.html")
link(rel="import", href="/bower_components/iron-flex-layout/iron-flex-layout.html")
link(rel="import", href="/bower_components/iron-flex-layout/iron-flex-layout-classes.html")
link(rel="import", href="/bower_components/iron-icon/iron-icon.html")

link(rel="import", href="/src/d4l-logging/d4l-logging.html")
link(rel="import", href="/src/d4l-helpers/d4l-helpers.html")
link(rel="import", href="/src/d4l-card/d4l-card-behaviors.html")

link(rel="import", href="/src/d4l-theme.html")
link(rel="import", href="/src/d4l-icons.html")
link(rel="import", href="/src/shared-styles.html")

dom-module#d4l-thunderclap-card
  template
    style(is="custom-style" include="iron-flex iron-positioning iron-flex-alignment iron-flex-factors")
    style(include="d4l-theme")
    style(include="shared-styles")
    style(include="shared-card-styles").
      :host {
        display: block;
        min-width: 350px;
      }

      .card {
        position: relative;
        -webkit-background-size: cover;
        background-size: cover;
        padding: 0px 0px 0px;
        overflow: hidden;
        cursor: pointer;
      } 

      .card-media {
        width: 100%;
        height: 200px;
        background: #d4d4d4;
      }

      .card-header {
        padding: 16px 16px 0;
      }
      .card-header .title {
        font-size: 1.25rem;
        line-height: 2rem;
        font-weight: 500;
        letter-spacing: .0125em;
      }

      .card-content {
        padding: 0 16px;
      }
      .card-content p {
        font-size: .875rem;
        line-height: 1.25rem;
        font-weight: 400;
        letter-spacing: .0178571429em;
        text-decoration: inherit;
        text-transform: inherit;
        color: rgba(0, 0, 0, 0.6);
      }
      .card-footer {
        padding: 10px 20px 10px;
        color: var(--text-dark-secondary-color);
        padding: 0 16px 16px;
      }
      .card-footer iron-icon {
        margin-right: 10px;
      }

    .card(on-tap="__viewThunderclap")
      .card-header
        .layout.horizontal.center
          .title.flex [[thunderclap.name]]
          div [[computeDateFormatRelative(thunderclap.scheduledExecution)]]

      .card-content
        p "[[thunderclap.description]]"

      .card-footer
        .layout.horizontal.center
          iron-icon(icon="d4l-icons:member")
          div [[thunderclap.supportersCount]]
          .flex
          .buttons
            paper-button(on-tap="__subscribeThunderclap") Subscribe

  script(src="./d4l-thunderclap-card.js")
