link(rel="import", href="/bower_components/polymer/polymer.html")

link(rel="import", href="/src/d4l-logging/d4l-logging.html")
link(rel="import", href="/src/d4l-card/d4l-card-behaviors.html")

link(rel="import", href="/src/d4l-theme.html")
link(rel="import", href="/src/d4l-icons.html")
link(rel="import", href="/src/shared-styles.html")

dom-module#d4l-thunderclap-card
  style(is="custom-style" include="iron-flex iron-positioning iron-flex-alignment iron-flex-factors")
  style(include="d4l-theme")
  style(include="shared-styles")
  style(include="shared-card-styles").
    :host {
      display: block;
    }

    .card {
      position: relative;
      -webkit-background-size: cover;
      background-size: cover;
      padding: 0px 0px 0px;
      color: var(--text-light-primary-color);
    }

    .thunderclap-content{
      background: var(--app-color-primary-red);
      padding: 10px 20px;
    }
    .thunderclap-text {
      word-break: break-all;
    }

    .thunderclap-footer {
      padding: 10px 20px 10px;
      color: var(--text-dark-secondary-color);
    }
    .thunderclap-footer iron-icon {
      margin-right: 10px;
    }

    .footer.tray{
      position: relative;
      margin: -30px -20px -10px;
    }
    .footer.tray paper-icon-button {
      color: var(--app-color-secondary-grey);
    }

  template
    .card
      .thunderclap-content
        div.thunderclap-text "[[campaign.description]]"
        div.text-right [[__thunderClapFormatted]]
      .thunderclap-footer
        .layout.horizontal.center
          .flex-2.layout.horizontal.wrap
            h1 [[campaign.name]]
          .flex.layout.horizontal.wrap
            iron-icon(icon="d4l-icons:member")
            div [[__userCountLabel]]

          .flex.layout.horizontal.center
            iron-icon(icon="d4l-icons:time")
            div [[__thunderClapDaysLeft]]

        .footer.tray(hidden$="[[!__showButtons]]")
          .layout.horizontal.center
            paper-icon-button(icon="d4l-icons:view-circle", on-tap="__subscribeThunderclap")
            div Subscribe


  script(src="./d4l-thunderclap-card.js")
