link(rel="import", href="/bower_components/polymer/polymer.html")
link(rel="import", href="/bower_components/paper-styles/shadow.html")

link(rel="import", href="./d4l-theme.html")

//- shared styles for all views
dom-module(id="shared-styles")
  template
    style.
      h1 {
        @apply(--d4l-font-common-base);
        @apply(--d4l-font-primary-title);
      }
      h2 {
        @apply(--d4l-font-common-base);
        @apply(--d4l-font-secondary-title);
      }

      d4l-dashboard-card h1,
      d4l-dashboard-card h2,
      d4l-dashboard-card h3 {
        color: var(--text-light-primary-color);
      }

      paper-fab, ltn-fab-menu {
        position: fixed;
        right: 35px;
        bottom: 35px;
      }
      ltn-fab-menu paper-icon-button {
        background: rgb(198, 40, 40, 0.7);
        color: #FFF;
        border-radius: 50%;
      }

      ltn-fab-menu .fab-item {
        position: relative;
      }
      ltn-fab-menu .fab-item .label {
        position: absolute;
        right: 100%;
        margin-right: 6px;
        line-height: 40px;
      }

      .text-left {
        text-align: left;
      }
      .text-right {
        text-align: right;
      }

      .fullbleed {
        margin: 0;
        min-height: 100vh;
        box-sizing: border-box;
      }

      .share-buttons > paper-button {
        min-width: 190px;
        margin-bottom: 10px;
      }


dom-module(id="shared-card-styles")
  template
    style.
      .card {
        padding: 16px;
        background-color: #fff;
        margin: 0px;
      }
      .card[hero] {
        padding: var(--default-hero-padding);
      }

      h1 {
        @apply(--d4l-font-common-base);
        @apply(--d4l-font-small-card-primary-title);
        color: var(--text-dark-primary-color);
        /*margin-bottom:10px;*/
      }
      p,
      .third-line ::slotted(span) {
        @apply(--d4l-font-common-base);
        @apply(--d4l-font-small-card-primary-text);
        color: var(--text-dark-primary-color);
      }
      p.secondary,
      p[secondary],
      .third-line ::slotted(span.secondary),
      .third-line ::slotted(span[secondary]) {
        @apply(--d4l-font-common-base);
        @apply(--d4l-font-small-card-secondary-text);
        color: var(--text-dark-secondary-color);
      }

      .footer.tray {
        background: var(--app-color-primary-grey);
        color: var(--text-light-primary-color);
      }
      .footer.tray paper-icon-button {
        color: var(--app-color-secondary-grey);
      }

dom-module(id="shared-layout-styles")
  template
    style.
      .page-sidebar {
        margin-bottom:30px;
      }

      .page-content:not([mobile]) {
        width: 100%;
        margin-left: 00%;
      }
      .page-sidebar:not([mobile]) {
        position: fixed;
        width: 28%;
        height: 88%;
      }

      .card {
        margin-bottom: 30px;
      }
      .card.flex {
        flex: none;
        width: 100%;
      }
      .card.flex:not([mobile]) {
        flex: 1;
      }
      .card-group[mobile] {
        display: block;
        flex: none;
        width: 100%;
      }
      .card-group:not([mobile]) > .card {
        margin-right: 30px;
      }
      .card-group > .card:last-child {
        margin-right: 0px;
      }
      .card-group.group-2 > .card {
        width: 49%;
        margin-right: 2%;
      }
      .card-group.group-2 > .card:nth-child(2n) {
        margin-right: 0px;
      }

dom-module#d4l-dialog-styles
  template
    style(include="d4l-theme")
    style.
      h1 {
        @apply(--d4l-font-common-base);
        @apply(--d4l-font-popup-primary-title);
        color: var(--default-primary-color);
      }
      h2 {
        @apply(--d4l-font-common-base);
        @apply(--d4l-font-popup-secondary-title);
        color: var(--text-dark-primary-color);
      }
      p {
        @apply(--d4l-font-common-base);
        @apply(--d4l-font-popup-primary-text);
        color: var(--text-dark-primary-color);
      }
      .dialog-header h2 {
        @apply(--d4l-font-common-base);
        @apply(--d4l-font-popup-primary-title);
        font-weight: 200 !important;
        color: white;
      }

      *[secondary] {
        font-weight: normal;
        font-size: 0.8em;
        color: var(--text-dark-secondary-color);
      }

      form {
        padding: 0 !important;
      }

      paper-dialog {
        margin: 0;
      }
      paper-item, paper-icon-item {
        cursor: pointer;
      }

      .dialog-header {
        background-color: var(--app-color-primary-grey);
        color: white;
        margin: 0 !important;
        padding: 4px 8px !important;
      }
      .dialog-header h2 {
        color: white;
      }
      paper-icon-button#close {
        width: 28px;
        height: 28px;
      }
      .dialog-body {
        margin: 0 0 20px !important;
        padding: 0 32px !important;
      }
      .dialog-footer {
        margin: 0 0 10px 0 !important;
        padding: 0 16px !important;
      }

      button.no-style {
        -webkit-appearance: none;
        border: 0;
        padding: 0;
        background: transparent;
      }

      paper-button {
        background-color: var(--default-primary-color);
        color: white;
        border-radius: 15px;
        padding: 5px 10px;
      }
      paper-icon-button#delete {
        width: 30px;
        height: 30px;
      }
