link(rel="import", href="/bower_components/polymer/polymer.html")
link(rel="import", href="/bower_components/iron-flex-layout/iron-flex-layout.html")
link(rel="import", href="/bower_components/iron-flex-layout/iron-flex-layout-classes.html")
link(rel="import", href="/bower_components/iron-media-query/iron-media-query.html")
link(rel="import", href="/bower_components/iron-ajax/iron-ajax.html")
link(rel="import", href="/bower_components/iron-list/iron-list.html")
link(rel="import", href="/bower_components/paper-fab/paper-fab.html")
link(rel="import", href="/bower_components/paper-spinner/paper-spinner.html")
link(rel="import", href="/bower_components/iron-icon/iron-icon.html")
link(rel="import", href="/bower_components/iron-icons/iron-icons.html")
link(rel="import", href="/bower_components/iron-pages/iron-pages.html")
link(rel="import", href="/bower_components/buttress-js-db/buttress-db-query.html")

link(rel="import", href="/src/d4l-logging/d4l-logging.html")
link(rel="import", href="/src/d4l-view/d4l-view-behaviors.html")

link(rel="import", href="/src/d4l-theme.html")
link(rel="import", href="/src/shared-styles.html")

link(rel="import", href="./d4l-dashboard-card.html")
link(rel="import", href="./d4l-dashboard-constituency-card.html")
link(rel="import", href="/src/views/issue/d4l-issue-behaviour.html")

dom-module#d4l-dashboard
  template
    style(is="custom-style" include="iron-flex iron-positioning iron-flex-alignment iron-flex-factors")
    style(include="shared-styles")
    style(include="shared-layout-styles").
      :host {
        display: block;

        padding: var(--default-page-padding);
        padding-top: var(--default-header-offset);
      }

      .members-stat {
        font-size: 50px;
      }

    iron-media-query(query="(max-width: 600px)", query-matches="{{isMobile}}")

    buttress-db-query(db="[[db]]", doc="[[db.people]]", query="[[__userQuery]]", find-all="{{__users}}")
    buttress-db-query(db="[[db]]", doc="[[db.issue]]", query="[[__latestIssuesQuery]]", find-all="{{__latestIssues}}", sort-path="updatedAt", sort-type="date", sort-order="DESC", limit="4")

    .view-container.layout.vertical
      .layout.horizontal
        h1 Latest
      .layout.horizontal
        template(is="dom-repeat" items="[[__latestIssues]]")
          d4l-dashboard-card.card.flex(mobile$="[[isMobile]]")
            .layout.horizontal.center
              iron-icon(icon="d4l-social-icons:storm")
              h1 [[item.name]]
            p [[item.description]]
            paper-button(on-click="viewIssueItem") View
      div
        paper-button(on-tap="__viewTopics") See All Topics
      
      .layout.horizontal
        d4l-dashboard-card.card.flex(mobile$="[[isMobile]]", background="thunderclap")
          .layout.horizontal.center
            iron-icon(icon="d4l-social-icons:storm")
            h1 Thunderclap
          p Sign up to tweet our important messages.
          paper-button(on-tap="__viewThunderclap") Get Started

        d4l-dashboard-card.card.flex(mobile$="[[isMobile]]", background="meme", disabled)
          .layout.horizontal.center
            iron-icon(icon="d4l-icons:picture")
            h1 Images
          p Gorgeous covers, posters and infographics to share
          paper-button(on-tap="__viewMemes") Get Started

        d4l-dashboard-card.card.flex(background="members")
          .layout.horizontal.center
            iron-icon(icon="d4l-icons:member")
            h1 Members
          h2.members-stat [[__users.length]]

        d4l-dashboard-constituency-card.card.flex(
          auth="[[auth]]",
          db="{{db}}"
        )

  script(src="d4l-dashboard.js")
