link(rel="import", href="/bower_components/polymer/polymer.html")
link(rel="import", href="/bower_components/iron-ajax/iron-ajax.html")

link(rel="import", href="/src/d4l-logging/d4l-logging.html")
link(rel="import", href="/src/d4l-helpers/d4l-helpers.html")
link(rel="import", href="/src/ltn-ajax/ltn-ajax.html")

link(rel="import", href="/src/views/topic/d4l-topic-behaviour.html")
link(rel="import", href="/src/d4l-theme.html")
link(rel="import", href="/src/shared-styles.html")

dom-module#d4l-dashboard-constituency-card
  template
    style(is="custom-style" include="iron-flex iron-positioning iron-flex-alignment")
    style(include="d4l-theme")
    style(include="shared-styles")
    style(include="shared-card-styles").
      :host {
        display: block;
      }

      .card {
        position: relative;
        -webkit-background-size: cover;
        background-size: cover;
        padding: 10px 20px 40px;
        color: var(--text-light-primary-color);
        width: 100%;
        height: 100%;

        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
      .card-content {
        position: relative;
      }
      .card:before {
        content: ' ';
        position: absolute;
        background: rgba(0, 0, 0, 0.6);
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
      }
      .card[disabled]:after {
        content: ' ';
        position: absolute;
        background: rgba(100, 100, 100, 0.5);
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
      }
      .card[background="find-mp"] {
        background-image: url('/images/cards/card-find-mp.png');
      }

      h1 {
        @apply(--d4l-font-primary-title);
      }
      p {
        @apply(--d4l-font-primary-text);
        color: var(--text-light-primary-color);
      }

      h1, h2, h3 {
        color: var(--text-light-primary-color);
      }

      iron-icon{
        width: 35px;
        height: 35px;
        margin-right: 15px;
        color: var(--text-light-primary-color);
      }

      paper-input{
        --paper-input-container-color: var(--text-light-primary-color);
        --paper-input-container-focus-color: var(--text-light-primary-color);

        --paper-input-container-input: {
          color: var(--text-light-primary-color);
        };
      }
      paper-button{
        @apply(--d4l-button-primary);
      }

    ltn-ajax#ajax

    .card(background="find-mp", disabled$="[[disabled]]")
      .card-content
        template(is="dom-if", if="[[__hasConstituency]]")
          flex.layout.vertical
            h1 [[constituency.name]]
            .layout.horizontal
              paper-button(on-click="viewTopicConstituency") View Topic
              paper-icon-button(on-click="__resetConstituency", icon="clear")
        template(is="dom-if", if="[[!__hasConstituency]]")
          .layout.horizontal.center
            iron-icon(icon="d4l-icons:location")
            h1 Find a Constituency
          .error [[__formError]]
          paper-input(label="Enter a postcode here", value="{{__postcode}}")
          paper-button(on-tap="__findConstituency") Search


  script(src="./d4l-dashboard-constituency-card.js")

