link(rel="import", href="/bower_components/polymer/polymer.html")
link(rel="import", href="/bower_components/app-layout/app-header/app-header.html")
link(rel="import", href="/bower_components/app-layout/app-scroll-effects/app-scroll-effects.html")
link(rel="import", href="/bower_components/app-layout/app-toolbar/app-toolbar.html")
link(rel="import", href="/bower_components/iron-media-query/iron-media-query.html")
link(rel="import", href="/bower_components/iron-pages/iron-pages.html")
link(rel="import", href="/bower_components/paper-icon-button/paper-icon-button.html")
link(rel="import", href="/bower_components/paper-item/paper-icon-item.html")

link(rel="import", href="/src/d4l-logging/d4l-logging.html")

link(rel="import", href="/src/d4l-theme.html")
link(rel="import", href="/src/d4l-icons.html")
link(rel="import", href="/src/shared-styles.html")

dom-module#d4l-header
  template
    style(is="custom-style", include="iron-flex iron-positioning iron-flex-alignment")
    style(is="custom-style", include="d4l-theme")
    style.
      :host {
      }
      app-header {
        @apply(--d4l-app-header);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 105;
      }
      app-toolbar {
        font-size:24px;
      }
      .header-toolbar {
        width: 100%;
      }
      .header-logo {
        margin-right: 15px;
        color: var(--text-light-primary-color);
        height: 42px;
        width: 42px;
      }
      .header-menu > paper-icon-button {
        width: 50px;
        height: 50px;
      }

    iron-media-query(query="(max-width: 600px)", query-matches="{{isMobile}}")

    app-header(name="generic-list", mode="list", bg$="[[page]]", effects="waterfall blend-background", fixed, mobile$="[[isMobile]]")
      app-toolbar
        .layout.horizontal.center.header-toolbar
          //- paper-icon-button.header-logo(icon="d4l-icons:arrow-back", hidden$="[[!allowBack]]", on-click="__back")
          iron-icon.header-logo(icon="d4l-icons:labour", on-tap="__viewHome")
          div.flex(main-title) [[responsivePageTitle]]
          img(src="{{__userImage}}", width=42, height=42, style="width: 42px; height; 42px; border-radius:50%;")

  script(src="d4l-header.js")
