link(rel="import" href="/bower_components/polymer/polymer.html")
link(rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout.html")
link(rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout-classes.html")
link(rel="import" href="/bower_components/paper-button/paper-button.html")
link(rel="import" href="/bower_components/paper-input/paper-textarea.html")
link(rel="import" href="/bower_components/paper-dialog/paper-dialog.html")
link(rel="import" href="/bower_components/iron-icon/iron-icon.html")
link(rel="import" href="/bower_components/iron-icons/iron-icons.html")
//- link(rel="import" href="/bower_components/bwt-uploader/bwt-uploader.html")

link(rel="import" href="../d4l-logging/d4l-logging.html")
link(rel="import" href="../d4l-theme.html")
link(rel="import" href="../d4l-icons.html")
link(rel="import" href="../shared-styles.html")

dom-module#d4l-post-dialog
  template
    style(is="custom-style" include="iron-flex iron-positioning iron-flex-alignment")
    style(include="d4l-theme")
    style(include="shared-styles")
    style(include="d4l-dialog-styles").
      :host{
      }
      h3 {
        @apply(--d4l-font-common-base);
        @apply(--d4l-font-popup-primary-title);
        color: var(--text-dark-secondary-color);
      }
      .dialog-header {
      }
      .dialog-body {
        width: 50vw;
      }
      paper-textarea {
        --paper-input-container-underline: {
          /*visibility: hidden;*/
        }
      }
      bwt-uploader {
        margin: 20px 0;
        --preview-boder: 1px dashed #aaaaaa;
        --preview-width: 50px;
        --preview-height: 50px;
      }

      .twitter-msg {
        margin-top: 10px;
        margin-left: 6px;
      }

    paper-dialog#dialog(on-iron-overlay-closed="__dialogClosed", with-backdrop)
      .dialog-header
        .layout.horizontal.center
          h2 {{title}}
          .flex
          paper-icon-button#close(icon="d4l-icons:close", on-click="__closeDialog")

      .dialog-body
        //-bwt-uploader#uploader(target="/image/upload", method="POST", body="{{__uploadResponse}}", placeholder="", accepted-file-types="image/png,image/jpg,image/jpeg,image/gif", max-file-size="3000")
        //-p(hidden$="[[!__hasImage]]") Your image has been successfully uploaded.

        h3 Make the message your own!
        paper-textarea(no-label-float, rows="2", max-rows="3", value="{{text}}", placeholder="", autofocus)

      .dialog-footer
        //-paper-button#send(disabled="[[!__hasImage]]", autofocus, on-click="__save") Save
        .layout.horizontal.center
          paper-button#send(autofocus, disabled$="[[!hasTwitter]]", on-click="__save") Subscribe
          paper-button#send(autofocus, hidden$="[[hasTwitter]]", on-click="__connectTwitter") Sign-in with Twitter
        .layout.horizontal.center
          p(hidden$="[[hasTwitter]]", class="twitter-msg") Please sign-in with a twitter account to subscribe to a storm

  script(src="d4l-post-dialog.js")
